@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Roboto', sans-serif;
  table-layout: fixed;
}

th, td {
  border: 1px solid #ccc; 
  padding: 10px;
  text-align: left;
}

td {
  font-weight: 400;
}

th {
  background-color: #f4f4f9;
  font-weight: 700;
}

thead th:nth-child(1),
tbody td:nth-child(1) {
  width: 20ch;
}

thead th:nth-child(2),
tbody td:nth-child(2) {
  /* width: 60%; */
}

thead th:nth-child(3),
tbody td:nth-child(3) {
  width: 10ch;
}